@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


body {
    font-family: Poppins, sans-serif;
    background: linear-gradient(90deg,#ffffff ,#93f593);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background: white;
    padding: 70px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
}

h2 {
    margin-bottom: 20px;
}
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background-color: #158515;
    color: white;
    border: none;
    padding: 10px;
    width: 104.4%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}
button:hover {
    background-color: #1fc81f;
}
.message {
    margin-top: 10px;
    color: green;
    display: none;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}